# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Logs temporales
logs/*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# NO ignorar datasets de la entrega
!F2/data/raw/*.csv
!F2/data/processed/*.csv